# --------------------------------- GENERAL -----------------------------------

# Macos stuff
.DS_Store

# VS Code
.vscode

# Pyenv
.python-version

# Env variables
*.env

# Temporary files
.cache/
tmp/

# Compile commands for clangd in nvim
compile_commands.json
